body {
    background-color: white;
    font-family: "SourceSerif4 Regular", serif;
    margin: 0;
}


.astext {
  background:none;
  border:none;
  margin:0;
  margin-bottom: 16px;
  padding-left:20px;
  cursor: pointer;
  font-size: 16px;
  font-family: "SourceSerif4 Regular", serif;
}

table {
    padding-left: 20px;
}

a {
    color:black;
    padding-left: 20px;
}

a:link {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: black;
}

@font-face {
    font-family: "SourceSerif4 Regular";
    src: url("assets/SourceSerif4-Text-BASIC-Regular.otf");
}



